@model LoginViewModel

@{

}

<form class="sign-in-form" style="padding-top:4rem;" asp-controller="Auth" asp-action="Login" method="post">
    <div>
        <label>Username</label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input class="btn btn-primary my-2" type="submit" value="Войти"/>
        <h5>или</h5>
        <a class="btn btn-primary my-2" asp-controller="Auth" asp-action="Register">Зарегистрироваться</a>
    </div>
</form>